.login__container{
    margin-left: 0px;
    display: flex;
    align-items: center;
}

.login__btn{
    text-decoration: none;
    color: #83868a;
    font-size: 16px;
    font-weight: 600;
    margin-right: 30px;
    transition: all 0.3s ease;
}

.login__btn:hover{
    color: #ffffff;
}
